*{
margin: 0;
padding: 0;
}

.header{
line-height: 70px;
background: #4F7942;
height: 70px;
text-align: center;
color: white;
font-size: 20px;
}

.button1{
cursor: pointer;
background: lightblue;
border: none;
text-align: center;
padding: 10px 20px;
color: white;}

.button2{
cursor: pointer;
text-size: 20px;
background: orange;
border: none;
text-align: center;
padding: 10px 20px;
color: white;}

nav{
padding: 0 15px;
line-height: 70px;
background:  #7CFC00;
height: 70px;
}

nav ol{
float: right;
margin right: 30px;}

nav ol li {
display: inline;}

nav ol li a{
font-size: 20px;
color: white;
padding: 0 15px;}

nav ol li a:hover,
nav ol li a.active{
color: blue;}

body{
background-image: url("logoo.jpg");
height: 100vh;
width: 100vw;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
}

.homepagecontent{
text-align: center;
color:white;
font-size: 40px;
padding: 200px;}